<launch>
   <arg name="carname" default=""/>
   <node pkg="robot_localization" exec="ekf_node" name="ekf_localization_node" output="screen" namespace="$(var carname)">
        <param from="$(find-pkg-share deepracing_launch)/config/ekf.yaml"/>
        <param name="base_link_frame" value="centroid_$(var carname)"/>
        <remap from="odometry/filtered" to="odom/filtered"/>
   </node>
   <node pkg="tf2_ros" exec="static_transform_publisher" args="0 0 0 0 0 0 map odom">
   </node>
</launch>