<launch>
   <arg name="carname" default=""/>
   <arg name="use_sim_time" default="false"/>
   <arg name="tf_from_odom" default="false"/>
   <group scoped="false" if="$(var tf_from_odom)">
      <let name="odomtopic" value="odom/filtered"/>
   </group>
   <group scoped="false" unless="$(var tf_from_odom)">
      <let name="odomtopic" value="odom"/>
   </group>
   <node pkg="deepracing_rclpy" exec="oracle_path_server" name="oracle_path_server_node" output="screen" namespace="$(var carname)">
        <param name="carname" value="$(var carname)"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <remap from="odom" to="$(var odomtopic)"/>
   </node>
   <node pkg="deepracing_rclpy" exec="bezier_curve_pure_pursuit" name="pure_pursuit_node" output="screen" namespace="$(var carname)">
        <param name="carname" value="$(var carname)"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <remap from="odom" to="$(var odomtopic)"/>
        <remap from="beziercurves_in" to="oraclebeziercurves"/>
        <param from="$(find-pkg-share deepracing_launch)/config/pure_pursuit.yaml"/>
   </node>
</launch>